.satelliteLink {
  border: none;
}

.listResults {
  max-height: 90%;
  list-style-type: none;
  padding-left: 0;
}

.listResults h5 {
  margin: 0;
  line-height: initial;
}

.listResults p {
  font-size: 0.8rem;
  line-height: initial;
  margin: 0;
}

.listResults > li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.listResults > li {
  padding: 1em;
  margin: 0 1em;
  transition: background-color 500ms;
}
.listResults > li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
