.menu {
  composes: rightPanel from '../../main.css';
}

.itemTitle {
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.6;
  font-size: 0.9rem;
  margin: 0;
}

.itemValue {
  margin: 0 0 20px 0;
}

.inclinationText {
  color: var(--orange);
}

.inclinationContainer {
  display: flex;
  align-items: center;
}

.inclinationImage {
  height: 100px;
  padding: 10px;
}

.legendImage {
  height: 40px;
  vertical-align: middle;
}
