.menu {
  composes: rightPanel from '../../main.css';
}

.itemTitle {
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.6;
  font-size: 0.9rem;
  margin: 0;
}

.itemValue {
  margin: 0 0 20px 0;
}

.inclinationText {
  color: var(--orange);
}

.inclinationContainer {
  display: flex;
  align-items: center;
}

.inclinationImage {
  height: 100px;
  padding: 10px;
}

.legendImage {
  height: 40px;
  vertical-align: middle;
}
.newsLink {
  display: block;
  width: fit-content;
}

.gotoButton {
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  vertical-align: top;
  margin: 0 10px;
}

.gotoButton:hover {
  background: rgba(255, 255, 255, 0.5);
}
