.stories {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  max-height: 30%;
  overflow: auto;
}

.storiesList {
  list-style: none;
  width: min(900px, 80%);
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .storiesList {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .stories {
    bottom: 50px;
  }
}
