.block {
  margin: 40px 0;
}

.large {
  font-size: 1.5rem;
}

.alignCenter {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

.collisionTitle {
  margin-left: -1rem;
}

.collisionContent {
  border-left: 1px solid var(--border-gray);
  padding-left: 1rem;
}

.collisionLegend {
  white-space: nowrap;
}

.collisionLegend:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

h4 {
  padding: 20px 0 0 0;
  margin: 0;
}

.blue {
  border-bottom: 1px solid #43abeb;
}

.blue:before {
  background-color: #43abeb;
}

.green {
  border-bottom: 1px solid #a7c636;
}

.green:before {
  background-color: #a7c636;
}

.yellow {
  border-bottom: 1px solid #ffd159;
}
.yellow:before {
  background-color: #ffd159;
}

.orange {
  border-bottom: 1px solid #faa83f;
}

.orange:before {
  background-color: #faa83f;
}
