.filterButton {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
  font-size: 1rem;
  border-radius: 5px;
}

.filterButton:hover,
.active {
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
}

.navigation,
.gps,
.galileo,
.glonass,
.beidou {
  composes: filterButton;
  border-color: var(--pink);
  color: var(--pink);
}

.navigation:hover,
.gps:hover,
.galileo:hover,
.glonass:hover,
.beidou:hover,
.navigation.active,
.gps.active,
.galileo.active,
.glonass.active,
.beidou.active {
  background-color: var(--pink-background);
  color: white;
}

.communications,
.oneweb,
.starlink,
.iridium,
.globalstar {
  composes: filterButton;
  border-color: var(--blue);
  color: var(--blue);
}

.communications:hover,
.oneweb:hover,
.starlink:hover,
.iridium:hover,
.globalstar:hover,
.communications.active,
.oneweb.active,
.starlink.active,
.iridium.active,
.globalstar.active {
  background-color: var(--blue-background);
  color: white;
}

.earthObservation,
.doves,
.landsat {
  composes: filterButton;
  border-color: var(--green);
  color: var(--green);
}

.earthObservation:hover,
.doves:hover,
.landsat:hover,
.earthObservation.active,
.doves.active,
.landsat.active {
  background-color: var(--green-background);
  color: white;
}

.spaceObservation {
  composes: filterButton;
  border-color: var(--orange);
  color: var(--orange);
}

.spaceObservation:hover,
.spaceObservation.active {
  background-color: var(--orange-background);
  color: white;
}

.technologyDevelopment {
  composes: filterButton;
  border-color: var(--purple);
  color: var(--purple);
}

.technologyDevelopment:hover,
.technologyDevelopment.active {
  background-color: var(--purple-background);
  color: white;
}

.leo {
  composes: filterButton;
  border-color: var(--orbit-orange);
  color: var(--orbit-orange);
}

.leo:hover,
.leo.active {
  background-color: var(--orbit-orange-background);
  color: white;
}

.meo {
  composes: filterButton;
  border-color: var(--orbit-yellow);
  color: var(--orbit-yellow);
}

.meo:hover,
.meo.active {
  background-color: var(--orbit-yellow-background);
  color: white;
}

.geo {
  composes: filterButton;
  border-color: var(--orbit-green);
  color: var(--orbit-green);
}

.geo:hover,
.geo.active {
  background-color: var(--orbit-green-background);
  color: white;
}
