.filterButton {
  background-color: transparent;
  border: 1px solid #ef8adf;
  color: #ef8adf;
  cursor: pointer;
  padding: 4px;
  margin: 4px 0;
  font-size: 1rem;
}

.filterButton:hover,
.active {
  background-color: rgba(239, 138, 223, 0.6);
  color: white;
}

.navigation {
  composes: filterButton;
  border: 1px solid var(--pink);
  color: var(--pink);
}

.navigation:hover,
.navigation.active {
  background-color: var(--pink-background);
  color: white;
}

.communications,
.oneweb,
.starlink {
  composes: filterButton;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.communications:hover,
.oneweb:hover,
.starlink:hover,
.communications.active,
.oneweb.active,
.starlink.active {
  background-color: var(--blue-background);
  color: white;
}

.earthObservation {
  composes: filterButton;
  border: 1px solid var(--green);
  color: var(--green);
}

.earthObservation:hover,
.earthObservation.active {
  background-color: var(--green-background);
  color: white;
}

.spaceObservation {
  composes: filterButton;
  border: 1px solid var(--orange);
  color: var(--orange);
}

.spaceObservation:hover,
.spaceObservation.active {
  background-color: var(--orange-background);
  color: white;
}

.technologyDevelopment {
  composes: filterButton;
  border: 1px solid var(--purple);
  color: var(--purple);
}

.technologyDevelopment:hover,
.technologyDevelopment.active {
  background-color: var(--purple-background);
  color: white;
}
