.menu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.mobileMenuContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--background-color);
  color: white;
  padding: 40px;
  font-size: 1.6rem;
  overflow: auto;
  line-height: 4rem;
  box-sizing: border-box;
  text-align: center;
}

.mobileMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  padding: 0;
}

.desktopMenuContainer {
  display: none;
}

@media (min-width: 700px) {
  .mobileMenuButton {
    display: none;
  }
  .desktopMenuContainer {
    display: revert;
  }
  .menu {
    justify-content: flex-start;
  }
}

.animatedLine {
  stroke-dasharray: 35;
  stroke-dashoffset: 17.5;
}

.mobileMenuButton:hover .animatedLine {
  animation: dash 200ms linear forwards;
}
.mobileMenuButton:hover .menuLine {
  stroke: var(--orange);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.menuLine {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-width: 3px;
  transition: stroke 200ms;
}
.mobileMenuList,
.desktopMenuList {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.desktopMenuList > li {
  display: inline;
  padding: 10px;
}

.title {
  font-size: 1.5rem;
}
.closeButton {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton img {
  width: 100%;
}
