.menuContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--background-color);
  color: white;
  padding: 40px;
  font-size: 1.6rem;
  overflow: auto;
  line-height: 4rem;
  box-sizing: border-box;
  text-align: center;
}

.menuButton {
  position: absolute;
  left: 15px;
  top: 25px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  padding: 0;
}

.animatedLine {
  stroke-dasharray: 35;
  stroke-dashoffset: 17.5;
}

.menuButton:hover .animatedLine {
  animation: dash 200ms linear forwards;
}
.menuButton:hover .menuLine {
  stroke: var(--orange);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.menuLine {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-width: 3px;
  transition: stroke 200ms;
}
.menuList {
  list-style-type: none;
  padding-left: 0;
}
