.block {
  margin: var(--article-margin) 0;
}

.orbitTitle {
  display: flex;
  flex-direction: row;
  font-size: var(--small-font-size);
  font-weight: bold;
}

.orbitTitle:before,
.orbitTitle:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid var(--border-gray);
  margin: auto;
}

.orbitTitle:before {
  margin-right: 10px;
}

.orbitTitle:after {
  margin-left: 10px;
}

.orbitContent {
  border-left: 1px dashed var(--border-gray);
  padding: 30px 20px;
  margin-top: -35px;
  margin-bottom: -55px;
}
