.menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: clamp(250px, 30%, 400px);
  color: white;
  padding: 1em;
}

@media (min-width: 550px) {
  .menu {
    top: 0;
    width: clamp(350px, 30%, 500px);
    left: revert;
    height: revert;
  }
}
