.closeButton {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton img {
  width: 100%;
}

.menuContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--background-color-opaque);
  color: var(--font-color);
  padding: 80px 40px 40px;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.logoEsri {
  height: 30px;
  vertical-align: middle;
}

.logoGeoxc {
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}

.footer {
  text-align: center;
}

.article {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.block {
  margin: var(--article-margin) 0;
}
