.backButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  transition: transform 500ms;
  margin: 20px 0;
}

.backImage {
  height: 100%;
}

.backButton:hover {
  transform: scale(1.5);
}
