.loadingPanel {
  background-color: #020204;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingPanel img {
  max-width: 400px;
  z-index: 2;
}

.loadingPanel p {
  color: white;
  z-index: 2;
  padding: 0 40px;
  text-align: center;
  font-size: 0.9rem;
}
