.container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 20, 31, 0.8) 0%, rgba(47, 98, 116, 0.8) 100%);
  color: var(--font-color);
  padding: var(--padding-mobile-large);
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  z-index: 2;
}

.searchInput {
  width: 100%;
  height: 2rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius);
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;
}

.searchInput::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

.clearButton {
  background: none;
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
  margin-left: -30px;
}

.closeButton {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton img {
  width: 100%;
}

.results,
.header {
  width: min(100%, 800px);
  margin: 20px auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-desktop-large);
}
.header {
  flex: 0 0 auto;
}
.results {
  flex: 1 1 auto;
  overflow-y: auto;
}
