.searchInput {
  width: 100%;
  height: 2rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;
}

.searchInput::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

.updatesContainer {
  font-size: 0.9rem;
}

.clearButton {
  background: none;
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
  margin-left: -30px;
}

@media (min-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .header,
  .footer {
    flex: 0 0 auto;
  }

  .results {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
