.menu {
  composes: rightPanel from '../../main.css';
}

.searchInput {
  width: 100%;
  height: 2rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;
}

.searchInput::placeholder {
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

.updatesContainer {
  font-size: 0.9rem;
}

@media (min-width: 550px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .header,
  .footer {
    flex: 0 0 auto;
  }

  .results {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}
