.block {
  margin: var(--article-margin) 0;
}

.shortInfo {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  margin: 0 0 10px 0;
}

.shortInfo > p {
  margin: 0 0 5px 0;
}
