@import 'https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/dark/main.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* variables */

:root {
  --background-color: rgba(0, 0, 0, 0.6);
  --background-color-opaque: #020204;
  --pink: rgb(239, 138, 223);
  --pink-background: rgba(239, 138, 223, 0.6);
  --blue: rgb(109, 189, 232);
  --blue-background: rgba(109, 189, 232, 0.6);
  --orange: rgb(255, 118, 0);
  --orange-background: rgba(255, 118, 0, 0.6);
  --purple: rgb(137, 109, 232);
  --purple-background: rgba(137, 109, 232, 0.6);
  --green: rgb(193, 232, 118);
  --green-background: rgba(193, 232, 118, 0.6);
  --perigee-yellow: rgb(255, 217, 0);
  --apogee-blue: rgb(66, 135, 245);
  --orbit-orange: rgb(255, 147, 0);
  --orbit-orange-background: rgb(255, 147, 0, 0.6);
  --orbit-yellow: rgb(255, 206, 0);
  --orbit-yellow-background: rgba(255, 206, 0, 0.6);
  --orbit-green: rgb(111, 170, 0);
  --orbit-green-background: rgba(111, 170, 0, 0.6);

  --font-source-sans: 'Poppins', sans-serif;
  --font-color: rgba(255, 255, 255, 0.9);
  --small-font-size: 0.8rem;
  --small-line-height: 1rem;
  --medium-font-size: 1.1rem;
  --medium-line-height: 1.8rem;
  --large-font-size: 1.8rem;

  --primary: rgb(255, 118, 0);
  --primary-transparent: rgba(255, 118, 0, 0.6);

  --transition-time: 500ms;

  --padding-desktop-large: 40px;
  --padding-mobile-large: 20px;
  --padding-small: 5px;
  --padding-medium: 15px;
  --article-margin: 40px;
  --paragraph-margin: 20px;

  --border-radius: 5px;
  --border-gray: rgb(200, 200, 200);
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: var(--font-source-sans);
  color: var(--font-color);
}

p {
  margin: var(--paragraph-margin) 0;
}

/* link style */

a {
  text-decoration: none;
  color: var(--font-color);
  transition: color var(--transition-time);
  cursor: pointer;
}

a:hover {
  color: var(--primary);
}

a.link {
  color: var(--primary);
}

a.link:hover {
  color: var(--primary-transparent);
}

.noUnderline {
  border: none;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* popup styles */

.esri-popup--shadow {
  box-shadow: none !important;
}

.esri-widget {
  background-color: transparent !important;
  color: var(--font-color) !important;
  font-family: var(--font-source-sans) !important;
}

.esri-popup__main-container {
  background-color: var(--background-color) !important;
  border-left: 1px solid var(--primary) !important;
}

.esri-popup__footer {
  order: 2 !important;
  border-bottom: none !important;
}

.esri-view-width-less-than-medium .esri-popup__action-text {
  display: revert !important;
}

.esri-popup__action-text {
  color: var(--font-color) !important;
}

.loadingAnimation {
  padding: 0 8px;
  box-sizing: border-box;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}
