:root {
  --background-color: rgba(0, 0, 0, 0.8);
  --pink: rgb(239, 138, 223);
  --pink-background: rgba(239, 138, 223, 0.6);
  --blue: rgb(109, 189, 232);
  --blue-background: rgba(109, 189, 232, 0.6);
  --orange: rgb(255, 118, 0);
  --orange-background: rgba(255, 118, 0, 0.6);
  --purple: rgb(137, 109, 232);
  --purple-background: rgba(137, 109, 232, 0.6);
  --green: rgb(193, 232, 118);
  --green-background: rgba(193, 232, 118, 0.6);
  --font-source-sans: 'Poppins', sans-serif;
  --primary: rgb(232 175 118);
}

@import 'https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/dark/main.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: var(--font-source-sans);
}

a {
  text-decoration: none;
  color: white;
  transition: color 500ms;
  border-bottom: 1px solid white;
}

a:hover {
  color: orange;
}

.rightPanel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  height: clamp(250px, 30%, 400px);
  color: white;
  padding: 3em;
  font-size: 1.1rem;
  overflow: auto;
  line-height: 1.9rem;
}

@media (min-width: 550px) {
  .rightPanel {
    top: 0;
    width: clamp(350px, 30%, 500px);
    padding: 5rem;
    left: revert;
    height: revert;
  }
}
