.accordionPanel {
  border-left: 1px solid var(--border-gray);
  margin: var(--paragraph-margin) 0;
}

.accordionButton {
  color: var(--font-color);
  cursor: pointer;
  padding: var(--padding-small) var(--padding-medium);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: color 500ms;
  background: none;
  font-size: var(--medium-font-size);
  display: flex;
  justify-content: space-between;
}

.accordionButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color var(--transition-time);
}

.buttonImage {
  max-width: 20px;
  transition: transform var(--transition-time);
}

.active .buttonImage,
.accordionButton:hover .buttonImage {
  transform: rotate(180deg);
}

.accordionContent {
  overflow: hidden;
  padding: 0 var(--padding-medium);
  transition: max-height var(--transition-time);
}

.hide {
  max-height: 0;
}

.show {
  max-height: 1000px;
}
